<!--MediaRecorder API examples referenced in learning to
take user audio input-->

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel = "stylesheet" type = "text/css" href = "{{url_for('static',filename='stylesheets/styles.css')}}">
</head>
<body>
  <div id = "div1">
  <h1>GuitarNoteTabber</h1>
  <div id = "separator"></div>
  <h2>Instructions</h2>
  <p>Press the button to begin and then play individual guitar notes. The name
    of the current note you are playing will be displayed. Press the button again
    to stop and the names of the notes will be returned along with the audio sample.
  </p>
  <audio id = "player" controls></audio>
  <button id = "mainButton" onclick = "mainButton()">Record Audio</button>
  <p id = "currentNote">Current Note: <span id = "new-text"></span></p>
  <p id ="notesPlayed">You played the following notes: </p>
  <p id = "notesReturned"></p>

  </div>
  <script>
    var recordButton, recorder;
    var clicked = 0;
    var data;
    var localStream;
    var context;
    var i = 0;


    function mainButton() {
      var mainButton = document.getElementById('mainButton');
      if(clicked == 0) {
        recordAudio();
        mainButton.innerText = "Stop Recording";
        clicked = 1;
      }
      else {
        stopStream();
        mainButton.innerText = "Record Audio";
        clicked = 0;
      }
    }

    function recordAudio () {
      recordButton = document.getElementById('record');

      //Get permission to use computer microphone
      navigator.mediaDevices.getUserMedia({
        audio: true, video: false
      })
      .then(function (stream) {
        recorder = new MediaRecorder(stream);
        recorder.addEventListener('dataavailable', onFinishedRecording);
        recorder.start();

        localStream = stream.getTracks()[0];
        context = new AudioContext();
        var source = context.createMediaStreamSource(stream);
        var processor = context.createScriptProcessor(2048, 1, 1);

        source.connect(processor);
        processor.connect(context.destination);

        processor.onaudioprocess = function(e) {
          i = i+1;
          console.log(i);
          var fldata = e.inputBuffer.getChannelData(0);
          do_ajax(fldata);
        }
      });

    };

    function stopStream() {
      recorder.stop();
      console.log("Stopped");
      localStream.stop();
      context.close();
      var req = new XMLHttpRequest();
      req.onreadystatechange = function() {
        if (this.readyState==4 && this.status == 200) {
          document.getElementById("notesReturned").innerHTML = this.responseText;
        }
      };
      req.open("POST","/index/", true);
      req.send("stop");
    }

    function do_ajax(postData) {
      var req = new XMLHttpRequest();
      req.onreadystatechange = function() {
        if (this.readyState==4 && this.status == 200) {
          document.getElementById("new-text").innerHTML = this.responseText;
        }
      };
      req.open("POST", "/index/", true);
      req.send(postData);
    }

    //Recieves a "dataavailable" signal upon the recorder being stopped
    //and then takes the recorded data and creates a URL object to store
    //in the HTML audio element
    function onFinishedRecording(e) {
      var audio = document.getElementById('player');
      data = e.data;
      audio.src = URL.createObjectURL(e.data);
      console.log(e.data);
    }
  </script>
</body>
